export PORT="8000"
export GITHUB_SECRET="YourGitHubSignatureSecretKey"

export MATTERMOST_URL="mattermost.hostname.com"
export MATTERMOST_PORT="443"
export MATTERMOST_API_KEY="abcdefghijklmnopqrstuvwxyz"


# only used in *-hook.sh scripts

export WEBHOOK_HOST="somethinghere.v1.p.beameio.net"
export WEBHOOK_PROTOCOL="https"
export WEBHOOK_URL=$WEBHOOK_PROTOCOL://$WEBHOOK_HOST

export AUTH="--auth GitHubUsername:abcdefghijklmnopqrstuvwxyz01234567891234"
export TEST_MATTERMOST_CHANNEL="test"
