export PORT="8000"
export GITHUB_SECRET="YourGitHubSignatureSecretKey"

export MATTERMOST_URL="https://mattermost.hostname.com"
export MATTERMOST_API_KEY="abcdefghijklmnopqrstuvwxyz"
#export MATTERMOST_CHANNEL="test"


# only used in *-hook.sh scripts

export BEAME_FQDN="somethinghere.v1.p.beameio.net"
export WEBHOOK_URL="https://$BEAME_FQDN"
# export WEBHOOK_PING_SUFFIX="test"
export AUTH="--auth GitHubUsername:abcdefghijklmnopqrstuvwxyz01234567891234"
export TEST_MATTERMOST_CHANNEL="test"
